:root
{
    --violet:#3e64ff;
}

*
{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.nav-link
{
    color:black;
}
body,html
{
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}
a,a:hover
{
    text-decoration:none
}
.violet
{
    color: var(--violet)
}

.left-block,.blocks
{
    height: 100%;
    width: 100%;
    background-color: #ecf0fe
}

.heading-container
{
    height: 100%;
    width: 100%;
}

.heading
{
    width:100%;
    z-index: 50;
    margin-top: 18rem;
}


.nav-item
{
    margin-right: 2rem;
    z-index: 50;
}


.active
{
    transition: all 0.5s;
    border-bottom: 3px solid var(--violet);
}

.nav-item:hover
{
    transform: scale(1.05);
    transition: all 0.5s;
}

.fa-arrow-down
{
    animation: up-down 2s ease-out infinite;
}

.navbar-nav
{
    text-align: center;
    margin-bottom: 2rem;
}


@keyframes up-down {
 0%
 {
    transform: translateY(0);
 }   
 50%
 {
    transform: translateY(-20px);
 }  
}
.toggle-btn{
  width: 25px;
  height: 3px;
  background-color: var(--violet);
  margin: 6px 0;
  border-radius: 2px;
}


p {
    color:grey
}


.download-btn
{
    background-color:var(--violet);
    color:white;
    border-radius:20px;
}
.download-btn:hover
{
    text-decoration:none;
    transition: all 0.5s;
    transform: translateY(-5px);
    color:white;
}
a
{
    color:black;
}
.activated a
{
    color:var(--violet);
    display:block;
    margin-left: 25px;
}

.activated a::after
{
    position: absolute;
    margin-top: 10px;
    left: 14%;
    width: 25px;
    height: 3px;
    border-radius: 2px;
    content: '';
    background-color: var(--violet);
}

.arrow
{
    position:absolute;
    margin-top: 50px;
    margin-left: 0rem;
}


.progress-bar
{
    background-color:var(--violet);
}

.fa-arrow-right
{
    font-size:20px;
    font-weight: 100;
    padding: 15px;
    color:white;
    border-radius: 50%;
    background-color: var(--violet);
}

.fa-line-chart,.fa-code,.fa-cogs
{
    font-size:2.8rem;
    color:var(--violet);
}

.main
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding:2rem;
    border-radius: 10px;
}

.main:hover h2,.main:hover i,.main:hover p
{

    color:white;
}

.main:hover
{
    background-color:var(--violet);
    color:white;
    transform: scale(1.03);
    transition: all 0.5s;
}


.underline::after
{
    position: absolute;
    content: '';
    height:3px;
    background-color :var(--violet);
    margin-left: auto;
    margin-right: auto;
    display: block;
	left: 0;
    right: 0;
    width: 9rem;
}



.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(62, 100, 255,0.93);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  border-radius: 10px;
}

.test:hover .overlay {
  bottom: 0;
  height: 100%;
}

.test 
{
    padding: 2rem;
    border-radius: 8px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;    
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.source,.source:hover
{
    color:white;
}

.footer-links
{
    color:white;
}
.footer-links:hover
{
    color:white;
}
@media only screen and (min-width:1024px) {
 .navbar-nav
{
    margin-left: 24rem;
}   
}

@media only screen and (max-width:768px) {
    .navbar-collapse
    {
        text-align: center;
        background-color: rgba(0,0,0,0.9);
        color:white
    }
    .navbar-collapse a
    {
        color:white;
    }

    .heading
    {
        margin-top: -30rem;
    }
    .arrow
    {
        margin-left:40%;
    }
}